.banner {
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(17, 16, 16, 0.7), rgba(255, 255, 255, 0.3))
   
}




.banner-info {
    position: absolute;
    color: white;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);


}

.banner-info>h1 {
    font-size: 72px;
    margin: 0;

}

.banner-info>h3 {
    font-size: 32px;
    margin: 0;
}
.discount-info{
    text-align: center;
    color: #F00;
 
font-size: 88px;
 
font-weight: 700;
margin-bottom: 20px;

 
}
.discount-reward{
    color: #F00;
text-align: center;
font-style: initial;
 font-size: 24px;
  
font-weight: 500;
 ;
}
.discount-all{
    text-align: center;
    font-size: 48px;
    color: #070211;
margin-top: 10px;
}
.new-year-photo{
    display: flex;
    justify-content: center;
}
/* paragraph style */
.paragraph{
    width: 1240px;
    margin: 100px auto;
}
.paragraph-container{

    display: flex;
    
    align-items: center;
    background: linear-gradient(to bottom, rgba(17, 16, 16, 0.7), rgba(255, 255, 255, 0.3)), url('../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}
.paragraph-info{
       padding-left: 120px;
       width: 60%;


}
.paragraph-heading{
    color: #FFF;
 margin: 0px;
font-size: 64px;
line-height: 70px;  
letter-spacing: 7.04px;

}
.paragraph-text{
    color: rgba(255, 255, 255, 0.80);
     
    font-size: 18px;
     
    font-weight: 400;
    line-height: 30px; 
}
    .paragraph-button{

    }
    .paragraph-img{
        width: 60%;
        margin: 100px auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .adress{
        background-color:  rgb(255, 231, 234) ;
         
        width: 60%;
     margin: 100px auto;
     border-radius: 16px;
     padding-top: 50px;
     padding-bottom: 50px;
  
        
        align-items: center;
        justify-content: center;
        
text-align: center;
font-size: 32px; 
font-weight: 600;
line-height: 56px;  
 }
    .adress-btn{
        color: #fffcfc;
        background-color: #F00;

        text-align: center;
        padding: 16px 32px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 20px;
    }
    .new-container{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .bold-text{
        color: #070211;
font-size: 48px;
margin: 0;
font-weight: 900;
   }
   .fixed-img{
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
   }
   .circle-img{
    width: 380px;
height: 380px;
    border-radius: 380px;
    border: 15px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .holiday-sell{
text-align: center;
   }
.holiday-title{
    color:  black;
font-size: 24px;
margin-top: 50px;
margin-bottom: 0;
font-weight: 500;}
.holiday{
     text-align: center;
     font-size: 72px;
     margin: 0;
    font-weight: 900;}
    .half-discount{
        

    }
    .flash-sell{

    }
    .girls-pic{

    }
    .red{

    }
     .img-conatainer{
        display: flex;
        
    }
    
    .right-img{
        width: 50%;
        position: relative;

    }
    .left-img{
        width: 50%;
        position: relative;
        z-index: 5;
    }
    .solid-img{
        position: relative;
        top: -235px;
        
    }
    .discount{
        position: absolute;
        left: 0; 
        transform: translateX(50%);
       
         

    }
    .all-picture{
        text-align: left;

        margin-left: 250px;
        min-width: auto;
        margin-top: 70px;
    }
    .headline{
        color:black;
font-size: 48px;
font-weight: 900;
margin-top: 0;
margin-bottom: 0;
  }
  .display-img{
    align-items:center;

  }
  .last-sec{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 60%;
align-items: center;
justify-content: center;
text-align: center;
margin-left: 330px;
margin-top: 50px;
padding-bottom: 50px;
  }
  .mail-img{
     justify-content: center;
     margin-top: 80px;
     padding-top: 50px;
    
  }
  .subscribe{
    color: black;
    margin: 0;
text-align: center;
font-size: 48px;
font-weight: 900;
margin-bottom: 30px;
border-bottom: 40px;

  }
  .subs-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
   
  
  .amar-btn{
    border-radius: 5px;
    background-color: rgb(255, 47, 47);
    
    
  }
.finishline{
    background-color: rgb(46, 46, 46);
    border-radius: 16px;
    width: 60%;
align-items: center;
justify-content: center;
text-align: center;
margin-left: 330px;
padding-bottom: 50px;
margin-top: 50px;}
.first-line{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 5px 50px ;
    
}
.last-line{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 5px 50px ;

}
.ses{
    border-radius: 5px;
    padding-top: 20px ;
}
   
